#nav-main{
  background-color: var(--dark-bg);
  z-index: 99;
  height: 80px;
}

.navbar-brand{
  color: var(--main-color)!important;
}

.navbar > a{
  color: var(--light-bg);
  margin-right: 20px;
}

.nav-item a {
    color: var(--light-bg);
    padding: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    margin-left: 10px; 
    transition: 0.8s;
}

.nav-item a:hover{
  color: var(--dark-bg);
  font-size: 0.95em;
  transition: 0.5s;
}

.nav-item{
  margin-left: 10px;
}

.nav-item a:hover {
  background-color: var(--main-color);
}

.navbar-toggler{
  border: 0px;
}

.navbar-toggler-icon{
  color:var(--light-bg);
  margin-top: -10px;
}

img {
  height: 200px;
}

img:hover {
  height: 180px;
  transition: 0.5s;
}

#main-name {
  font-size: 0.85em;  
}

#main-name:hover{
  font-size: 1em;
  transition: 0.5s;
}