
.container-fluid{
    padding: 50px!important;
}


#filter-row{
    margin:auto;
}

.content{
    text-align: center;
}


.container-fluid{
    background-color: var(--dark-1);
    border-top: 10px solid #ffff;
}
    
