
<div class="" id="filter-row">
  <div class="">
      <app-nav-search (tec)="onChange($event)"></app-nav-search>
  </div>
  
</div>
<div class="container-fluid">
  <ul id = "content">
  </ul>     
  '<div class="myP">'+
                           
    '<blockquote class="embedly-card"><h4><a id = "a">Rixi: "Governo va avanti con tanti sì e pochi no". Grillo: "Oggi Radio Maria e canti gregoriani"</a></h4><p>Il giorno dopo le elezioni europee che hanno sancito il successo di Salvini, che ha ringraziato gli italiani nella notte, il viceministro leghista alle Infrastrutture Edoardo Rixi viceministro leghista alle infrastrutture, manda un avvertimento al M5s. Che, a parte un intervento del fondatore su Facebook, continua a mantenere il silenzio.</p></blockquote>'+
    
'   </div>'+     
</div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>