  <div id="video-pres">
  <div class="row">
    <div class="col-4" id="primo">
      <p>
        Il sito web “Tecnologie Abbandonate” è stato realizzato come progetto finale del corso “Multimedia Design” . Il sito è stato realizzato da cinque studenti del corso, sotto la supervisione del Professor Pier Luigi Capucci. 
      </p>
      <p>
        Questo sito è stato realizzato per unire un progetto di studio e di ricerca – la storia delle tecnologie cadute in disuso e dei loro inventori-  con un lavoro più pratico – come la realizzazione di un sito web ex novo. Il tutto è stato poi definito con delle ricerche di grafica e dei lavori multimediali che mirano all’interattività.
      </p>
    </div>

    <div class="col-4">
      <video class="video" loop autoplay>
        <source src="./assets/chi_siamo.mp4"  type="video/mp4">
      </video>
    </div>
    
    <div class="col-4" id="secondo">
      <p>Anche se questo progetto è finalizzato ad un esame universitario, questo sito rimarrà online e potrà essere fruibile per tutti gli utenti che avranno necessità di reperire informazioni riguardo le tecnologie che oggi non vengono più utilizzate – sia per una passione personale, sia per motivi di ricerca. Riteniamo che sia un prodotto valido in quanto unisce una dimensione informativa ad una didattica. 
      </p>
    </div>
  </div>

  <div class="cell cell-title-g">
    Niccolò Carlo <span style="font-weight: 700; margin-right:30px;">Bellucco</span>
     Eleonora <span style="font-weight: 700; margin-right:30px;">Brunello</span> 
     Alberto <span style="font-weight: 700; margin-right:30px;">Gibin</span>
     Francesca <span style="font-weight: 700; margin-right:30px;">Incitti</span>
     Giulia <span style="font-weight: 700; margin-right:30px;">Nardò</span>
  </div>
</div>

  <div class="container-fluid">
    <div class="row">
    <div class="col-7 cell cell-title">
      Università di Udine <br/>
      Corso di Multimedia Design a.a. 2018-19 – Professor Pier Luigi Capucci <br/>
      Laurea Magistrale in Comunicazione Multimediale e Tecnologie dell’Informazione <br/>
      Curriculum in Sistemi Multimediali e Interaction Design 
    </div>

    <div class="col-4">
      <img style="width: 350px;" src="./assets/logouniud.png" />
    </div>
  </div>
</div>
