<div class="row" id="video-pres">
  <div class="col-3">
    <br/>
    <br/>
    Niccolò Carlo Bellucco
    <br/>
    <br/>
    Eleonora Brunello
    <br/>
    <br/>
    Alberto Gibin
    <br/>
    <br/>
    Francesca Incitti
    <br/>
    <br/>
    Giulia Nardò
  </div>

  <div class="col-6">
      <video class="video" loop autoplay>
          <source src="./assets/chi_siamo.mp4"  type="video/mp4">
        </video>
    </div>
  
  <div class="col-3">
      ...
  </div>
</div>

<div class="row" id="video-pres">
    <div class="col-3">
        ...
    </div>

    <div class="col-6">
      <video class="video2" loop autoplay>
          <source src="./assets/chi_siamo.mp4"  type="video/mp4">
        </video>
    </div>

    <div class="col-3">
        ...
    </div>
</div>

