.navbar{
  margin: auto;
  margin-top:60px;
  background-image: linear-gradient( var(--dark-bg) 0%, var(--dark-1) 100%);
  
}
  
.navbar > a{
  color: var(--light-bg);
}
  
input {
  background-color: var(--dark-bg);
  color: var(--light-bg);
  width: 200px;
  padding-left: 10px;
} 

.sub-title {
  color: var(--main-color);
  padding-right: 20px;
}



#nav-search {
  z-index: 0;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
  height: 60px;
  padding-right:0px!important;
  text-align: center;
}

#navbarSupportedContent{
  padding:0!important;
  width: 100%;
}
.navbar-nav {
  float:none;
  margin:0 auto;
  padding:0;
  display: block;
  text-align: center;
}


#navbarSupportedContent {
  padding-left: 50px;
}

  @-webkit-keyframes example {
    0%   {background-color:var(--light-bg); left:0px; top:0px;}
    100% {background-color:var(--light-bg); left:0px; top:0px;}
  }
  /* Standard syntax */
  @keyframes example {
    0%   {top:-80px;}
    100% {top:0px;}
  }
  

  @media (min-width: 1400px) {
    .sub-title{
      padding-right: 20px;
    }
    .navbar{
      padding-left: 100px;
    }
   }