


<div id="banner" class="row">
  <img src="assets/logoTecAbb_home.png" >
</div>
<div class="row">
  video
</div>
<div class="container-fluid" id="video">
  <div class="row">
      <div class="col-4">
          <p class="sub-title">Audio</p>
          <video width="400" loop autoplay>
            <source src="./assets/telefono_morph_qt_x264.mp4"  type="video/mp4">
          </video>
      </div>
      <div class="col-4">
          <p class="sub-title">Video</p>
          <video width="400" loop autoplay>
            <source src="./assets/telefono_morph_qt_x264.mp4"  type="video/mp4">
          </video>
      </div>
      <div class="col-4">
          <p class="sub-title">Fotografia</p>
          <video width="400" loop autoplay>
            <source src="./assets/telefono_morph_qt_x264.mp4"  type="video/mp4">
          </video>
      </div>
  </div>
  <div class="row" id="second">
    <div class="col-1"></div>
      <div class="col-5">
          <p class="sub-title">Comunicazione</p>
          <video width="400" loop autoplay>
            <source src="./assets/telefono_morph_qt_x264.mp4"  type="video/mp4">
          </video>
      </div>
      <div class="col-5">
          <p class="sub-title">Elettronica</p>
          <video width="400" loop autoplay>
            <source src="./assets/telefono_morph_qt_x264.mp4"  type="video/mp4">
          </video>
      </div>
      <div class="col-1"></div>
  </div>
 

</div>
