.sub-title{
    color: var(--dark-bg);
    font-weight: 600;
    font-size: 1.1em;
}

img{
    height: 90%;
    margin: auto;
}

#banner{
    margin-top: 40px;
    height: 70%;
    text-align: center;
    background-image: url("/assets/sfondoLegno.jpg");  
    background-size: cover;
}

#video{
    margin-top: 50px;
    text-align: center;
}
#row-top{
    border-bottom: 1px solid var(--light-bg-1);
    padding-bottom: 50px;
}

#second{
    margin-top:50px;
}

#video-pres{
    background-color: var(--light-bg-1);
    color: #ffff;
    text-align: center;
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}

#first-bottom{
    border-right: 1px solid var(--light-bg-1);
  
}

#central{
border-left: 1px solid var(--light-bg-1);
border-right: 1px solid var(--light-bg-1);
}

.col-3{
    margin:auto;
    padding: 50px;
    font-size: 1.1em;
}

video{
    border: 5px solid #ffff;
}