.sub-title{
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.1em;
}

img{
    width:600px;
    margin: auto;
}

#banner{
    background-color:rgba(13,35,42,0.9);
    text-align: center;
}

#video{
    background-color:rgba(13,35,42,0.9);
    margin-top: 50px;
    text-align: center;
}

#second{
    margin-top:50px;
}