
  <div class="container" id="item-container">
    <div class="row">
      <div class="col-6" id="img-parent" >
          <img>
      </div>
      <div class="col-6">

          <div class="row" >
              <div class="title item-t">
                Name:
              </div>
              <div id="item-name">
    
              </div>
            </div>

        <div class="row" >
          <div class="title item-t">
            Description:
          </div>
          <div id="item-descr">

          </div>
        </div>

        <div class="row" >
            <div class="title item-t">
              From:
            </div>
            <div id="year-from">
      
            </div>
          </div>
          <div class="row" >
              <div class="title item-t">
                To:
              </div>
              <div id="year-to">
        
              </div>
            </div>


      </div>
    </div>
</div>