
#item-container{
    display: none;
    margin: auto;
    margin-top: 100px;
    width:90%; 
    padding-top:20px;
    background-color: #fff;
    color: #000;
    border-radius:10px;
}

#elemento-archivio { list-style:none; text-align:center; padding:20px;background-color: #ffff;}   
.container-fluid{ padding: 50px!important; }  
.data-col{margin:auto; width:90%; margin-top:20px; padding-top:20px;border-top: 1px solid #23373D;}   
.cell-title{ float:left; color: var(--dark-bg); font-size: 1.2em; letter-spacing: 1px; font-weight: 700; padding-left: 50px; }  
.cell{vertical-align: text-top!important; text-align:left;}   
.row{ margin-top: 10px; }   
#descrizione { margin-right: 20px; margin-bottom: 10px; }   
#video-parent{text-align:right} 
.row{margin:auto} 
iframe{
    text-align: center;
}