

  <div class="container item-descr" id="item-container">
    <div class="row main-row" >
        <div class="img row">   
            <div class="col-6" id="img-parent"></div>   
            <div class="col-6" id="video-parent" style="width:100%"></div>
        </div>   
        <div class="data-col">   
            <div class="row">   
                <div class="col-2 cell cell-title"> Nome: </div>   
                <div class="col cell text-justify" id="item-name"><b></b></div>   
            </div>   
            <div class="row">   
                <div class="col-2 cell cell-title"> Di: </div>   
                <div class="col cell text-justify"><b> </b></div>   
            </div>   
            <div class="row">   
                <div class="col-2 cell cell-title"> Anno invenzione: </div>   
                <div class="col cell " id="year-from">  </div>   
            </div>   
            <div class="row">    
                <div class="col-2 cell cell-title"> Anno ritiro: </div>   
                <div class="col cell " id="year-to"> </div>   
            </div>   
            <div class="row">   
                <div class="col-2 cell cell-title"> Descrizione: </div>   
                <div id="item-descr" class="col cell text-justify">  </div>  
            </div>    
        </div>    
    </div> 
  </div>