#author-container{
    display: none;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width:90%; 
    padding-top:20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}


img {  max-width:"500px";}   
#elemento-archivio { list-style:none; text-align:center; padding:20px; }   
.container-fluid{ padding: 50px!important; }  
.title{color: var(--main-color); font-size: 1.2em; letter-spacing: 1px; font-weight: 700; text-align: center;}
.cell-title{ float:left; color: var(--dark-bg); font-size: 1.2em; letter-spacing: 1px; font-weight: 700; padding-left: 50px; }   
.cell{vertical-align: text-top!important; text-align:left;}   
.row{ margin-top: 10px; }   
#descrizione { margin-right: 20px; margin-bottom: 10px; }   
#video-parent{text-align:right} 
.row{margin:auto} 