#filter-row{
    margin:auto;
}

.col-f{
    width: 100%;
    margin:auto;
}

.input{
    width: 100%;
  }
.container-fluid{
      background-color: var(--dark-1);
      
  }

  .col-f{
      border-bottom: 10px solid #ffff;
  }

 