.map{
    margin: auto;
}

.timeline{
    text-align: center;
    margin-top: 20px;
}

#anteprima{
    width: 85%;
    text-align: center;
    margin: auto;
    padding-right:80px;
}

.row {
    margin-right: 0px!important;
}

#esterno{
    border: 2px solid  #d9d9d9;    
    padding: 20px;
    border-radius: 20px;
}

.btn{
    margin: auto;
    color: white;
    background-color: var(--main-color);
}

#link:hover{
    color: var(--main-color);
    cursor: pointer;
}

#link{
    float: left;
}

#btn-span{
    text-align: center;
    margin-top: 50px;
}

.map {
    text-align: center;
}

#chartdiv {
    height: 350px;
}

#author{
    margin-top: 40px;
}

.container-fluid{
    margin-top: 30px;
    padding: 0!important;
}

#contenitore{
    background-color: var(--dark-1);
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    margin-top:50px;
}

#scroll-up{
    float: right;
    background-color: var(--main-color);
    color: var(--dark-bg);
    margin-top: -30px;
    margin-right: 20px;
    
}

#scroll-up:hover{
    color: var(--main-color);
    background-color: var(--dark-bg);
}