<app-nav-filter
    (chosen)="onChosen($event)"
></app-nav-filter>

<div class="container-fluid">
    <!--<div class="title">WORLD MAP of TECHNOLOGIES</div>-->

    <div class="row">

        <div class="col">
            <div class="map">
                <div id="chartdiv"></div>
            </div>
        </div>

        <app-anteprima class="col-3" id="anteprima" style="display:none"></app-anteprima>

    </div>

    <div class="timeline margin">
        <div class="title">Seleziona decennio di utilizzo:</div>
        <app-timeslider
            (timed)="onChanged($event) "
        ></app-timeslider>
    </div>

    <app-item-descr></app-item-descr>
    <div id="author" style="display: none">
        <div id="author-name">

        </div>
        <div id="author-descr">
            
        </div>
    </div>

</div>
