.navbar{
  /*background-color: var(--dark-1);*/
  margin-top: 80px;
  background-color: var(--dark-1);
}

.navbar > a{
  color: var(--light-bg);
  margin-right: 20px;
}


.nav-item a {
    color: var(--light-bg);
}

.nav-item a:hover {
  color: var(--light-bg);
}

#fotografia:hover{
  background-color: #0F5257;
}

.fotografia{
  background-color: #0F5257;
}

#video:hover{
  background-color: #b10f2e;
}

.video{
  background-color: #b10f2e;
}

#audio:hover{
  background-color: #0A8AB5;
}

.audio{
  background-color: #0A8AB5;
}

#comunicazione:hover{
  background-color: #eac435;
}

.comunicazione{
  background-color: #eac435;
}

#computer:hover{
  background-color: #5fad56;
}

.computer{
  background-color: #5fad56;
}

#all:hover{
  background-color: var(--dark-bg);
}

.all{
  background-color: var(--dark-bg);
}

#nav-filter {
  z-index: 0;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
  height: 60px;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.nav-link{
  text-align: center;
  width: 130px;

}



.nav-item:hover {
  cursor: pointer;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:var(--light-bg); left:0px; top:0px;}
  100% {background-color:var(--light-bg); left:0px; top:0px;}
}
/* Standard syntax */
@keyframes example {
  0%   {top:-80px;}
  100% {top:0px;}
}
