<div>
    <div class="title" >ANTEPRIMA DESCRIZIONE:</div>
    <div id="esterno">
        <div id="descr">
        </div>
        <br/>
        <div id="icon"></div>
        <div id="link-span">
            <b>
                <a id="link" class="link" 
                  (click)="onClick()">
                    Altro ...
                </a>
            </b>
        </div>
        <div id="btn-span">
            <button class="btn" (click)="onClose()"> Chiudi</button> 
        </div>
                 
    </div>
</div>