<div class="anteprima">
    <div id="esterno">
        <p id="ant-name"></p>

        <p id="ant-descr"></p>

        <div id="ant-icon"></div>

        <div id="link-span">
            <i><b>
                <a id="link" class="link" 
                  (click)="onClick()">
                    Altro ...
                </a>
            </b></i>
        </div>

        <br/>

        <div id="btn-span">
            <button class="btn" (click)="onClose()"> Chiudi</button> 
        </div>

    </div>
</div>




