#anteprima{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-right:80px;
}

#esterno{
    border: 2px solid  #d9d9d9;    
    padding: 20px;
    border-radius: 20px;
}

.btn{
    margin: auto;
    color: white;
    background-color: var(--main-color);
}

#link:hover{
    color: var(--main-color);
    cursor: pointer;
}

#link{
    float: left;
}

#btn-span{
    text-align: center;
    margin-top: 50px;
}
