<div class="anteprima">
    <div id="esterno">
        <p id="name"></p>
        <p id="descr"></p>

        <div id="icon"></div>
        
        <div id="link-span">
            <i><b>
                <a id="link" class="link" 
                  (click)="onClick()">
                    Altro ...
                </a>
            </b></i>
        </div>
        <br/>
    </div>

    <div id="btn-span">
            <button class="btn" (click)="onClose()"> Chiudi</button> 
        </div>
</div>




