@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background-color: #f7f7f7 !important;

}

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root {
  --dark-bg: #002642;  
  --light-bg: #ffff;
  --main-color: #f8b500;
  --dark-1: #08BDBD;
}

.title{
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-color);
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 700;
}

.container-fluid{
  padding: 30px!important;
}

.smaller {
  width: 100px;
  height: auto;
}

