<app-nav-filter
    (chosen)="onChosen($event)"
></app-nav-filter>


<div class="container-fluid">
    <div class="title">TIMELINE of TECHNOLOGIES</div>
    

    <div class="row">
        <div class="col">
            <div id="chartdiv" style="text-align : center;"> </div>
        </div>
        <div class="col-3" id="anteprima" style="display:none">
            <div class="title" >ANTEPRIMA DESCRIZIONE:</div>
            <div id="esterno">
                <div id="descr"><div id="date" class="date"></div></div>
                <br/>
                <div id="icon"></div>
                <button class="btn" onclick='document.getElementById("anteprima").style.display = "none"; '> Chiudi</button>          
            </div>
        </div>
    
    </div>
</div>
